:root {
    --main-color: rgb(251, 230, 234);
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    font-family: 'Indie Flower', cursive;

}

#image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-sizing: border-box; */
}

#image {
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#image.loaded {
    opacity: 1;
}

#image:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

#button {
    margin-top: 4vh;
    background-color: rgb(216, 81, 106);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: max(2vw, 4vh);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    animation: pulse 2s infinite;
    font-family: 'Indie Flower', cursive;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.02);
        box-shadow: 0 0 10px rgb(255, 186, 231);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}